html, body {
  height: auto;
  width: auto;
  padding: 0px;
}

body{
display: flex;
align-items: center;
justify-content: center;
}

#poke-img{
display: flex;
flex-direction: column;
align-items: center;

width: 300px;
height: 300px;
border: 5px solid green;
}

#name-poke {
text-align: center;
font-size: 30px;
width: 99%;
height: 50px;
}

#name{
margin: 0px;
}

#div-img-poke{
display: flex;
align-items: center;
border: 5px solid rgb(22, 109, 61);
width: 100%;
height: 100%;
justify-content: center;
box-shadow: inset 0px -20px 500px rgba(61, 176, 101, 0.701);
overflow: hidden;
}

#img-poke{
width: 170px;
}

#statistic-poke{
display: flex;
justify-content: space-between;
padding-inline: 30px;
font-size: 20px;
height: 150px;
border: 5px solid green;
}


#screen{
  display: flex;
  align-items: flex-start;
  padding: 10px;
  width: 770px;
  height: 1150px;

  background-image: url(imagens/pokedex.png);
  background-size: 100%;
}

.shine {
position: absolute;
border-radius: 40px;
}

.blue {
background-color: rgb(0, 183, 255);
width: 85px;
height: 85px;  
margin-left: 31px;
margin-top: 29px;
animation: shine 0.3s alternate infinite;
}

.red{
background-color: rgb(255, 0, 0);
width: 30px;
height: 30px;  
margin-left: 140px;
margin-top: 26px;
animation: shineV2 0.3s alternate infinite;
}

.yellow {
background-color: rgb(255, 242, 0);
width: 30px;
height: 30px;  
margin-left: 187px;
margin-top: 26px;
animation: shine 0.3s alternate infinite;
}

.green {
background-color: rgb(9, 255, 0);
width: 30px;
height: 30px;  
margin-left: 234px;
margin-top: 26px;
animation: shineV2 0.3s alternate infinite;
}

.small {
width: 15px;
height: 15px;

margin-top: 189px;
margin-left: 371px;
}

.small2 {
width: 15px;
height: 15px;

margin-top: 189px;
margin-left: 400px;

animation: shine 0.3s alternate infinite;
}


@keyframes shine{
0%{
  opacity: 0.2;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.165);
}
100%{
  opacity: 1.0;
  box-shadow: 0px 0px 10px 2px white;
}
}

@keyframes shineV2{
0%{
  opacity: 1;
  box-shadow: 0px 0px 10px 2px white;
}
100%{
  opacity: 0.2;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.165);
}
}

.btnSelect{
position: absolute;
width: 100px;
height: 100px;

margin-left: 110px;
margin-top: 916px;

border-radius: 50px;

cursor: pointer;

opacity: 0;
}

.btn {
position: absolute;

width: 90px;
height: 90px;

margin-left: 515px;
margin-top: 840px;

cursor: pointer;

opacity: 0;
}

.donw{
margin-top: 1000px;
}

#display{
background-color: rgb(180, 252, 186);
display: flex;
height: 41%;
width: 78%;
margin-left: 10%;
margin-top: 28%;

padding: 10px;

border-radius: 20px;
border: 2px solid black;
box-shadow: inset 0px 0px 10px black;
}

#poke-view{
border-radius: 20px;
width: 60%;
}

#poke-img {
  width: 98%;
  height: 65%;
}

#statistic-poke{
  font-size: 130%;
  height: 27%;
}

#name-poke {
  height: 15%;
}

#div-list-poke{
font-size: 18px;
border: 5px solid green;
width: 40%;
overflow: hidden;
scrollbar-color: none;
}

li:hover{
background-color: rgba(0, 0, 0, 0.15);
cursor: pointer;
}

#list-poke{
padding: 0;
list-style-type: none;


text-align: center;

margin-top: 0;
font-size: 35px;
}

@media (max-width: 425px) {
  #display {
    height: 250px;
  }

  .shine{
    margin-top: 7px;
    width: 19px;
    height: 19px;
    margin-left: 66px;
  }

  .blue{
    margin-top: 11px;

    width: 43px;
    height: 43px;

    margin-left: 12px;
  }

  .yellow {
    margin-left: 90px;
  }

  .green {
    margin-left: 114px;
  }

  .small,
  .small2{
    width: 9px;
    height: 9px;

    margin-left: 187px;
    margin-top: 93px;
  }

  .small2 {
    margin-left: 202px;
  }

  .btn {
    width: 48px;
    height: 45px;

    margin-left: 262px;
    margin-top: 430px;
  }

  .donw{
    margin-top: 512px;
  }

  .btnSelect{
    width: 55px;
    height: 55px;

    margin-left: 51px;
    margin-top: 470px;
  }

  #img-poke {
    height: 80%;
    width: 100%;
  }

  #name-poke {
    font-size: 18px;
  }

  #list-poke{
    font-size: 20px;
  }

  #statistic-poke{
    font-size: 10px;

  }
  #screen {
    width: 425px;
    height: 580px;
  }
}

@media (max-width: 320px) {
  #display {
    height: 180px;
    width: 75%;
  }

  .shine{
    margin-top: 3px;
    width: 14px;
    height: 14px;
    margin-left: 46px;
  }

  .blue{
    margin-top: 5px;

    width: 33px;
    height: 33px;

    margin-left: 6px;
  }

  .yellow {
    margin-left: 65px;
  }

  .green {
    margin-left: 83px;
  }

  .small,
  .small2{
    width: 6px;
    height: 6px;

    margin-left: 136px;
    margin-top: 67px;
  }

  .small2 {
    margin-left: 148px;
  }

  .btn {
    width: 35px;
    height: 34px;

    margin-left: 192px;
    margin-top: 318px;
  }

  .donw{
    margin-top: 378px;
  }

  .btnSelect{
    width: 40px;
    height: 40px;

    margin-left: 35px;
    margin-top: 346px;
  }

  #img-poke {
    height: 80%;
    width: 100%;
  }

  #name-poke {
    font-size: 12px;
  }

  #list-poke{
    font-size: 15px;
  }

  #statistic-poke{
    font-size: 7px;
    padding-inline: 10px;
  }
  #screen {
    width: 425px;
    height: 433px;
  }
}